--extra-index-url https://download.pytorch.org/whl/cpu
torchaudio==2.9.0+cpu
conformer
diffusers
deepspeed
gdown
gradio
grpcio
grpcio-tools
hydra-core==1.3.2
hyperpyyaml
inflect
librosa
lightning
matplotlib
modelscope
networkx
omegaconf==2.3.0
onnx
onnxruntime
protobuf
pydantic
rich
soundfile
tensorboard
uvicorn
fastapi
fastapi-cli
WeTextProcessing
accelerate
huggingface-hub
pystoi
tqdm
pystoi
einops
scipy
accelerate
peft==0.15.0
wget
pyarrow
antlr4-python3-runtime
optimum-habana==1.19.0
torchcodec==0.9.1
