https_proxy=http://child-prc.intel.com:912
HOST_MODEL_DIR=/mnt/disk4/hf_models/
HABANA_QWEN_IMAGE_DEVICE=0
HABANA_QWEN_IMAGE_EDIT_DEVICE=1
HABANA_ZIMAGE_EDIT_DEVICE=2
PORT_ZIMG=9392
PORT_QWEN_IMG=9391
PORT_QWEN_EDIT=9390
